{% extends "shop/base.html" %}
{% load static %}

{% block title %}Home - JOSE FASHION AND DESIGNERS{% endblock %}
<link href="{% static "css/base.css" %}" rel="stylesheet">

{% block content %}
  <h1>Welcome to JOSE FASHION AND DESIGNERS</h1>
  <p>Discover our latest collection of fashion items.</p>
  <a href="{% url 'shop:product_list' %}" class="view-products-btn">View All Products</a>
  
  <h2>Featured Products</h2>
  <div class="featured-products">
    {% for product in featured_products %}
      <div class="product">
        <a href="{{ product.get_absolute_url }}">
          {% if product.image and product.image.url %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
          {% else %}
            <img src="{% static 'img/no_image.png' %}" alt="Default Image">
          {% endif %}
          <h3>{{ product.name }}</h3>
        </a>
        <p>ugx {{ product.price }}</p>
      </div>
    {% endfor %}
  </div>
{% endblock %}
